.apply {
  margin-bottom: 50px;
  float: left;
  width: 100%;
  padding-right: 30px;
  position: relative;

  @include respondmax(md) {
    padding-right: 0;
  }

  &__img {
    height: 180px;
    margin-bottom: 25px;
    @include respondmax(lg) {
      text-align: center;
    }
  }

  @include respondmax(md) {
    padding-bottom: 35px;
    &.apply--last {
      padding-bottom: 0;
    }
  }

  &__description {
    font-family: $SP, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    color: $gray6;
    float: left;
    width: 100%;
  }

  &::after {
    content: url('../../img/apply after icon.png');
    font-size: 3.6rem;
    color: $lightBlue;
    position: absolute;
    top: 62%;
    transform: translateY(-62%);
    right: 0;
    width: 16px;
    height: 22px;
    @include respondmax(lg) {
      transform: rotate(90deg) translateX(-50%);
      top: auto;
      left: 50%;
      bottom: -20px;


    }
  }

  &.apply--last {
    padding-right: 0;

    &:after {
      content: '';
    }
  }

}


