.banner {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 883px;
  text-align: center;
  background: url("../../img/banner-big.png") no-repeat center;
  background-size: cover;
  float: left;
  z-index: -1;
  @include respondmax(md) {
    min-height: 910px;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    float: left;
    min-height: 110px;
    object-fit: cover;
    object-position: bottom center;
    @include respondmax(md) {
      display: none;
    }
  }

  &--medium {
    background: url("../../img/banner-medium.png") no-repeat top center;
    min-height: 735px;
    background-size: cover;

    @include respondmax(md) {
      min-height: 1000px;
    }
  }

  &--small {
    background: url("../../img/banner-small.png") no-repeat top center;
    background-size: cover;
    min-height: 500px;

    @include respondmax(md) {
      min-height: 400px;
    }
  }

  &__info {
    text-align: center;
    width: 100%;
    float: left;
  }

  &__title {
    color: #B2E1A6;
    font-size: 3.6rem;
    margin-bottom: 40px;
  }

  &__subtitle {
    color: #fff;
    font-size: 1.6rem;
  }
}

.full-width {
  float: left;
  width: 100%;
}
