.news {

  h4 {
    color: $black;
    margin-bottom: 20px;
  }

  &__link {
    margin-top: 25px;

    a {
      font-family: $PN-B, Helvetica, Arial, sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      color: $blue;
      transition: $tr;

      &:after {
        content: '\e5c8';
        font-family: $MtI;
        position: absolute;
        left: 70px;
      }

      &:hover {
        color: $lightGreen;
      }
      &:focus {
        color: $blue;
      }
    }
  }

  &__info {
    padding-right: 60px;
    margin-bottom: 40px;
    float: left;
    width: 100%;
  }

  &__content {
    img {
      width: calc(100% + 110px);
      margin: -50px -55px 40px;
      padding: 0;
    }

    h4 {
      color: $black;
      @include respondmax(md){
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 40px;
      @include respondmax(md){
        padding: 15px 0;
        margin-bottom: 0;
      }
    }
  }
}

.load-more-content > div {
  display: none;
}
