.social {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  @include respondmax(md) {
    justify-content: center;
    margin-bottom: 30px;
  }

  &__item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 2.6rem;

    &--facebook {
      color: $fbBlue;

      &:hover, &:focus {
        color: $fbBlue;
      }
    }

    &--twitter {
      color: $twBlue;

      &:hover, &:focus {
        color: $twBlue;
      }
    }

    &--linkedin {
      color: $linkedBlue;

      &:hover, &:focus {
        color: $linkedBlue;
      }
    }

    &--instagram {
      color: $instaColor;

      &:hover, &:focus {
        color: $instaColor;
      }
    }

    &--youtube {
      color: $youtubeColor;

      &:hover, &:focus {
        color: $youtubeColor;
      }
    }
  }


  &--share {
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: flex-start;

    li:first-child {
      margin-right: 20px;
      color: $gray4d;
    }

    .social__item{
      margin-right: 10px;
    }

    .social__link {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 2rem;

      &--facebook {
        color: $white;
        background-color: $fbBlue;

        &:hover, &:focus {
          color: $white;
        }
      }

      &--twitter {
        color: $white;
        background-color: $twBlue;

        &:hover, &:focus {
          color: $white;
        }
      }

      &--linkedin {
        color: $white;
        background-color: $linkedBlue;

        &:hover, &:focus {
          color: $white;
        }
      }

    }

  }

}
