$MtI: MaterialIcons-Regular;
$PN-B: ProximaNova-Bold;
$PN: ProximaNova-Regular;
$SP-T: SeroPro-Thin;
$SP-B: SeroPro-Bold;
$SP-I: SeroPro-Italic;
$SP: SeroPro;

$tr: 0.2s;
$tr1: 0.1s;

$shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

$transparent:transparent;
$white: #FFFFFF;
$whiteLight: #F0F0F0;
$whiteDark:#FAFAFA;
$white5:#F5F5F5;

$lightGreen: #53AE3B;
$green: #B2E1A6;
$darkGreen:#549344;
$transparent: transparent;

$lightGray: #999999;
$gray: #E6E6E6;
$darkGray: #333333;
$gray4d: #4D4D4D;
$gray6: #666666;
$navColor: #404040;
$grayC:#CCCCCC;

$black: #000;

$lightBlue: #B5D6FF;
$fbBlue: #3B549C;
$twBlue: #1C9CF4;
$linkedBlue: #0473B3;
$instaColor: #D53877;
$youtubeColor: #FC0404;

$blue: #1C5EAF;
$darkBlue: #133E72;
$lightBlue: #BFCEE0;
$borderBlue:#81AEE6;
