.about {

  &__info {
    font-family: $SP-T, Helvetica, Arial, sans-serif;
    color: $white;
    line-height: 1.8;
    margin-bottom: 0;
  }

  &__heading {
    background-color: $whiteLight;
    padding: 20px 30px;
    @include respondmax(lg) {
      overflow-x: scroll;
      padding: 20px 15px;
    }

    .nav-pills {
      align-items: center;
      @include respondmax(lg) {
        width: 580px;
      }

      .nav-item {
        min-width: 195px;
        text-align: center;
        margin-right: 80px;

        &:last-of-type {
          margin-right: 0;
        }

        @include respondmax(lg) {
          min-width: 126px;
          margin-right: 15px;
          &:last-of-type {
            margin-right: 15px;
          }
        }
      }

      .nav-link {
        font-family: $PN-B, Helvetica, Arial, sans-serif;
        color: $gray4d;

        &.active {
          color: $lightGreen;
          padding: 10px;
          background-color: $white;
          border-radius: 76px;
        }
      }
    }
  }

  &__nav {
    float: left;
    width: 100%;

    .tab-content {
      padding: 50px 40px 0;
      float: left;
      width: 100%;
      @include respondmax(md) {
        padding: 30px 0 0;
      }
    }
  }
}

.leadership {
  padding-top: 20px;
  padding-bottom: 30px;

  &__img {
    max-width: 400px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    float: left;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    float: left;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;

    &:before {
      content: url("../../img/quotation.png");
      width: 25px;
      height: 32px;
      float: left;
      margin-bottom: 25px;
    }
  }

  &__state {
    font-size: 1.8rem;
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }

  &__member {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white5;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 30px;

    @include respondmax(lg) {
      flex-direction: column;
      h4, p {
        text-align: center;
      }
    }

  }

  &__member-img {
    width: 140px;
    min-width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    @include respondmax(lg) {
      margin-right: 0;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.career {
  padding-bottom: 0;

  &__program {
    float: left;
    width: 100%;

    h1 {
      @include respondmax(md) {
        padding-left: 0;
      }
    }
  }

  &__program-img {
    margin-top: 15px;
  }
}

.vacancy {
  margin-bottom: 50px;
  float: left;
  width: 100%;
  padding-right: 70px;

  &__expired {
    color: $lightGreen;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  &__link {
    margin-top: 15px;
    float: left;
    width: 100%;

    a {
      font-family: $PN-B, Helvetica, Arial, sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      color: $blue;
      transition:$tr;

      &:after {
        content: '\e5c8';
        font-family: $MtI;
        position: absolute;
        left: 72px;
      }

      &:hover {
        color: $lightGreen;
      }
      &:focus {
        color: $blue;
      }
    }
  }
}

.requisite {
  padding-bottom: 45px;

  &__img {
    width: 70px;
    min-width: 70px;
    height: 50px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    p {
      line-height: 1;
    }
  }

}

.copy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 2px 5px 2px 0;
  border: 2px solid $transparent;

  &:hover {
    cursor: pointer;
  }

  .copy-btn {
    display: none;
    font-family: $PN, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: $lightGray;
    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    border-color: $gray;
    background-color: $whiteDark;
    margin-left: -5px;
    padding-left: 5px;

    .copy-btn {
      display: block;
    }
  }

  input {
    border: 0;
    width: 100%;
    color: $lightGreen;
    background-color: $transparent;
    cursor: pointer;

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }


}

.partners-bank {
  max-width: 150px;
  height: 80px;
  margin-bottom: 30px;
  display: block;
  width: 100%;

  @include respondmax(md) {
    margin: auto;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


#chart-container {
  font-family: Arial;
  height: 420px;
  border: 0;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

#github-link {
  position: fixed;
  right: 10px;
  font-size: 3em;
}

.orgchart {
  background: #fff;
  width: 100% !important;

  .lines {
    .topLine{
      width: 87.5px !important;
    }
    .downline {
     background-color: #CCCCCC !important;
      width: 35px !important;
    }
  }

  .node {
    width: 200px;

    .edge {
      display: none !important;
    }

    .title {
      color: #53AE3B !important;
      background-color: #53AE3B !important;

      a {
        .fa-users:before {
          content: "";
        }
      }
    }

    &:hover, &:focus {
      background-color: $transparent;
      transition: .5s;
      cursor: default;
      z-index: 20;
    }

    &.focused {
      background-color: $transparent;
    }
  }
}


