.home {
  padding: 70px 0;
  @include respondmax(md) {
    padding: 35px 0;
  }

  &__slider {
    position: relative;
  }

  &__slider-item {
    @include respondmax(md) {
      text-align: center;
    }
  }

  &__slider-img {
    padding: 0;
  }

  &__slider-info {
    padding-top: 40px;

    @include respondmax(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    p {
      font-family: $SP-T, Helvetica, Arial, sans-serif;
      font-size: 1.8rem;
      color: $white;
      margin-bottom: 45px;
      float: left;
      width: 100%;
    }

  }

  .owl-carousel {
    .owl-dots {
      position: absolute;
      top: -10px;
      left: 53%;
      transform: translateX(-53%);
      @include respondmax(lg) {
        top: -30px;
      }

      .owl-dot {
        span {
          display: inline-block;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          opacity: .3;
          margin-right: 10px;
          background-color: $white;
          border: none;
        }

        &.active span, &:hover span {
          opacity: 1;
        }
      }
    }
  }
}

.modal {
  .modal-content {
    padding: 30px 50px 40px;
    max-width: 540px;
    box-shadow: $shadow;
    border: none;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background-color: $white;
  }

  .modal-header {
    border-bottom: none;
    padding: 0;

    .modal-title {
      color: $gray4d;
      float: left;
      width: 100%;
      margin-bottom: 25px;
      line-height: 1;
    }
  }

  .modal-body {
    margin-bottom: 50px;
    font-size: 1.4rem;
    padding: 0;
  }

  .modal-footer {
    padding: 0;
    border-top: none;
    display: flex;
    justify-content: flex-end;
    @include respondmax(md){
      flex-direction: column;
      .modal-cancel{
        margin-bottom: 20px;
      }
    }
  }

  .close {
    opacity: 1;

    .material-icons {
      color: #666666;
    }
  }

  .modal-cancel {
    font-family: $PN-B, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    color: $gray4d;
    background-color: $transparent;
    float: left;
    border: 0;
    margin-right: 25px;
    cursor: pointer;
  }

  &--question {
    .modal-content {
      padding: 25px 25px 40px 35px;
      text-align: left;
    }

    .modal-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      float: left;
      width: 100%;
      margin-bottom: 40px;
      margin-left: -10px;
      color: #707070;
      font-size: 1.6rem;
    .close{
      margin-right: -15px;
      i{
        color: #00377A !important;
      }
    }
    }

    .modal-body {
      margin-bottom: 0;
    }

    .close {
      opacity: 1;

      .material-icons {
        color: #666666;
      }
    }

    .modal-cancel {
      font-family: $PN-B, Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      color: $gray4d;
      background-color: $transparent;
      float: left;
      border: 0;
      margin-right: 25px;
      cursor: pointer;
    }
  }
}


.blur {
  background-color: rgba(0, 0, 0, .5);
}
