<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-12 col-md-8">
                    <ul class="footer__list">
                        <li class="footer__top-item"><a href="#" class="footer__top-link">Haqqımızda</a></li>
                        <li class="footer__top-item"><a href="#" class="footer__top-link">Xidmətlər</a></li>
                        <li class="footer__top-item"><a href="#" class="footer__top-link">Partnyorlar</a></li>
                        <li class="footer__top-item"><a href="#" class="footer__top-link">Dəstək</a></li>
                        <li class="footer__top-item"><a href="#" class="footer__top-link">Tenderlər</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="social">
                        <li class="social__item">
                            <a href="#" class="social__link social__link--facebook"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link social__link--twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link social__link--linkedin"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link social__link--instagram"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link social__link--youtube"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-list">
                <div class="row mb-35">
                    <div class="col-12 col-md-3">
                        <a href="#" class="footer__bottom-img">
                            <img src="./frq-templates/assets/img/footer-img.png" alt="footer img">
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <ul class="footer__contact">
                            <li class="footer__contact-item">
                                <a href="#" class="footer__mail">office@azericard.com
                                    <i class="material-icons">&#xe0e1;</i>
                                </a>
                            </li>
                            <li class="footer__contact-item">
                                <a href="#" class="call__link">
                                    <div class="call__info">
                                        <span class="font-bold text-medium color-green">194</span>
                                        <span>24/7 çağrı mərkəzi</span>
                                    </div>
                                    <img src="./frq-templates/assets/img/call-green.svg" alt="contact call">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <ul class="footer__menu">
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">İstifadə şərtləri</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Gizlilik siyasəti</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Qaydalar</a></li>
                        <li class="footer__menu-item"><a href="#" class="footer__menu-link">Another link</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer__copyright">
                    Developed by
                    <a href="#">
                        <img src="./frq-templates/assets/img/nova-logo.png" alt="nova logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>window.jQuery || document.write('<script src="frq-templates/assets/libs/jquery/dist/jquery.min.js"><\/script>')</script>

<script src="frq-templates/assets/libs/popper.js/popper.min.js" type="text/javascript"></script>

<script src="frq-templates/assets/libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

<!-- <script src="libs/moment.js/moment.min.js" type="text/javascript"></script> -->

<!--<script type="text/javascript" src="frq-templates/assets/libs/owl.carousel/owl.carousel.min.js"></script>-->

 <script type="text/javascript" src="frq-templates/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>

<!-- <script src="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script> -->

<!-- <script src="libs/jquery.inputmask/jquery.inputmask.min.js"></script> -->

<!-- <script src="libs/sorttable/sorttable.js"></script> -->

<script src="frq-templates/assets/js/all.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID.-->
<!--<script>-->
    <!--window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;-->
    <!--ga('create','UA-XXXXX-Y','auto');ga('send','pageview')-->
<!--</script>-->
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
