
<script src="frq-templates/assets/libs/popper.js/popper.min.js" type="text/javascript"></script>

<script src="frq-templates/assets/libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" type="text/javascript"></script>

<script type="text/javascript" src="frq-templates/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script src="frq-templates/assets/js/all.js"></script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
