<!doctype html>
<html class="no-js" lang="az" style="overflow-x: hidden; max-width: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AzeriCard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#133E72">

    <link rel="apple-touch-icon" href="icon.png">
    <script type="text/javascript">
        window.onerror = function (errorMsg, url, lineNumber) {
            var s = '';
            s += "Javascript error!";
            s += "\n----------------------------------------\n";
            s += errorMsg;
            s += "\nFile : " + url;
            s += "\nLine : " + lineNumber;
            alert(s);
        }
    </script>

    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/normalize.css/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="frq-templates/assets/libs/jquery/dist/jquery.min.js"><\/script>')</script>

    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="frq-templates/assets/css/main/main.min.css">
</head>
<body style=" max-width: 100%; overflow-x: hidden;">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->


