<!doctype html>
<html class="no-js" lang="az" style="overflow-x: hidden; max-width: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Starter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF6B63">

    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
    <!--<script type="text/javascript">-->
    <!--window.onerror = function (errorMsg, url, lineNumber) {-->
    <!--var s = '';-->
    <!--s += "Javascript error!";-->
    <!--s += "\n&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;\n";-->
    <!--s += errorMsg;-->
    <!--s += "\nFile : " + url;-->
    <!--s += "\nLine : " + lineNumber;-->
    <!--alert(s);-->
    <!--}-->
    <!--</script>-->

    <link rel="stylesheet" type="text/css" href="frq-templates/libs/normalize.css/normalize.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="frq-templates/libs/jquery/dist/jquery.min.js"><\/script>')</script>-->
    <script type="text/javascript" src="frq-templates/libs/owl.carousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="frq-templates/libs/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="frq-templates/libs/font-awesome/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="frq-templates/libs/owl.carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="frq-templates/libs/owl.carousel/owl.theme.default.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="libs/bootstrap-select/bootstrap-select.min.css"> -->

    <!-- <link rel="stylesheet" href="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"> -->

    <link rel="stylesheet" href="frq-templates/css/main/main.min.css">

</head>
<body style=" max-width: 100%; overflow-x: hidden;">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="banner banner--small"></div>

<header class="header">

    <div class="container">
        <div class="header__top">
            <div class="row">
                <div class="col-md-3 center-vertical">
                    <div class="logo">
                        <img src="../frq-templates/img/logo-white.svg" alt="logo img">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header__top-menu">
                        <div class="dropdown">
                            <a class="language-link" href="#" role="button"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="material-icons">&#xe894;</i>
                                <span>AZ</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">AZ</a>
                                <a class="dropdown-item" href="#">EN</a>
                                <a class="dropdown-item" href="#">RU</a>
                            </div>
                        </div>
                        <div class="call">
                            <a href="#" class="call__link">
                                <div class="call__info">
                                    <span class="font-bold text-medium color-white">194</span>
                                    <span>24/7 çağrı mərkəzi</span>
                                </div>
                                <img src="../frq-templates/img/call-white.svg" alt="contact call">
                            </a>
                        </div>
                        <button class="header__menu-open">
                            <i class="material-icons">&#xe5d2;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
