<!doctype html>
<html class="no-js" lang="az" style="overflow-x: hidden; max-width: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Starter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF6B63">

    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
    <!--<script type="text/javascript">-->
    <!--window.onerror = function (errorMsg, url, lineNumber) {-->
    <!--var s = '';-->
    <!--s += "Javascript error!";-->
    <!--s += "\n&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;\n";-->
    <!--s += errorMsg;-->
    <!--s += "\nFile : " + url;-->
    <!--s += "\nLine : " + lineNumber;-->
    <!--alert(s);-->
    <!--}-->
    <!--</script>-->

    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/normalize.css/normalize.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="frq-templates/assets/libs/jquery/dist/jquery.min.js"><\/script>')</script>-->
    <script type="text/javascript" src="frq-templates/assets/libs/owl.carousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/font-awesome/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/owl.carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/owl.carousel/owl.theme.default.min.css">

     <link rel="stylesheet" type="text/css" href="frq-templates/assets/libs/bootstrap-select/bootstrap-select.min.css">

    <!-- <link rel="stylesheet" href="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"> -->

    <link rel="stylesheet" href="frq-templates/assets/css/main/main.min.css">

</head>
<body style=" max-width: 100%; overflow-x: hidden;">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="banner"></div>

<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="logo">
                    <img src="../frq-templates/assets/img/logo-white.svg" alt="logo img" class="logo-white">
                    <img src="../frq-templates/assets/img/logo-blue.svg" alt="logo img" class="logo-blue">
                </a>
            </div>
            <div class="col-md-9">
                <div class="header__top">
                    <div class="dropdown">
                        <a class="language__link" href="#" role="button" data-toggle="dropdown">
                            <i class="material-icons">&#xe894;</i>
                            <span>AZ</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">AZ</a>
                            <a class="dropdown-item" href="#">EN</a>
                            <a class="dropdown-item" href="#">RU</a>
                        </div>
                    </div>
                    <div class="call">
                        <a href="#" class="call__link">
                            <div class="call__info">
                                <span class="font-bold text-medium">194</span>
                                <span>24/7 çağrı mərkəzi</span>
                            </div>
                            <img src="../frq-templates/assets/img/call-white.svg" class="call__white" alt="contact call">
                            <img src="../frq-templates/assets/img/call-light-green.svg" class="call__green" alt="contact call">
                        </a>
                    </div>
                    <button class="header__menu-open">
                        <i class="material-icons">&#xe5d2;</i>
                    </button>
                    <button class="header__menu-close d-none">
                        <i class="material-icons">&#xe5cd;</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <ul class="header__bottom-list">
                <li><a href="#" class="header__bottom-link active">Ödəniş sistemi</a></li>
                <li><a href="#" class="header__bottom-link">Haqqımızda</a></li>
                <li><a href="#" class="header__bottom-link">Xidmətlər</a></li>
                <li><a href="#" class="header__bottom-link">Xəbərlər</a></li>
                <li><a href="#" class="header__bottom-link">Dəstək</a></li>
                <li><a href="#" class="header__bottom-link">Tenderlər</a></li>
                <li><a href="#" class="header__bottom-link">Təcrübə proqramı</a></li>
                <li><a href="#" class="header__bottom-link">Əlaqə</a></li>
            </ul>
        </div>
    </div>

</header>
