.footer {
  /*margin-top: 40px;*/

  &__top {
    float: left;
    width: 100%;
    margin-bottom: 35px;
    @include respondmax(md) {
      margin-bottom: 0;
      .row {
        flex-direction: column-reverse;
      }
    }
  }

  &__list {
    float: left;
    width: 100%;
  }

  &__top-item {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    @include respondmax(md) {
      border-top: 1px solid $gray;
      width: calc(100% + 30px);
      padding: 25px 0;
      text-align: center;
      margin: 0 -15px;
    }
  }

  &__top-link {
    font-family: $PN-B, Helvetica, Arial, sans-serif;
    color: $lightGreen;

    &:hover, &:focus {
      color: $lightGreen;
    }
  }

  &__bottom {
    background-color: $darkBlue;
    padding-top: 30px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
    @include respondmax(md) {
      text-align: center;
    }
  }

  &__bottom-list {
    @include respondmax(md) {
      .row {
        flex-direction: column-reverse;
      }
    }
  }

  &__bottom-img {
    display: block;
    width: 150px;
    height: 45px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include respondmax(md) {
      margin: auto;
    }
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include respondmax(md) {
      flex-direction: column-reverse;
    }
  }

  &__contact-item {
    margin-left: 50px;
    @include respondmax(md) {
      margin-left: 0;
      margin-bottom: 30px;
    }
  }

  &__mail {
    display: flex;

    i {
      margin-left: 10px;
      font-size: 2.4rem;
      color: $green;
    }

  }

  &__menu {
    @include respondmax(md) {
      margin-bottom: 40px;
    }
  }

  &__menu-item {
    display: inline-block;
    margin-right: 30px;
    @include respondmax(md) {
      margin: 0 15px;
    }
  }

  &__menu-link {
    font-family: $SP-T, Helvetica, Arial, sans-serif;
    color: $lightBlue;
    border-bottom: 1px dashed rgba(191, 206, 224, .3);
    font-size: 1.2rem;
    line-height: 3.25;

    &:hover, &:focus {
      color: $lightBlue;
    }
  }

  &__copyright {
    font-family: $SP-T, Helvetica, Arial, sans-serif;
    color: $lightBlue;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      margin-left: 5px;
    }

    @include respondmax(md) {
      justify-content: center;
    }

  }
}
