.header {
  height: 160px;
  padding: 40px 0 15px;

  .logo{
    float: left;
    width: 100%;
    margin-top: 10px;

  }

  @include respondmax(md) {
    padding: 25px 0 15px;
    .col-md-3 {
      order: 9;
    }
  }

  .logo-white {
    display: block;
    @include respondmax(md) {
      margin: auto;
    }
  }

  .logo-blue {
    display: none;
  }

  .call {
    &__link {
      color: $white;
    }

    &__white {
      display: block;
    }

    &__green {
      display: none;
    }

    @include respondmax(md) {
      display: none;
    }

  }

  &--open {
    background-color: $white;
    transition: $tr;
    transition-timing-function: ease-out;
    @include respondmax(md) {
      min-height: 100vh;
      overflow-y: scroll;
      position: fixed;
      z-index: 9999;
    }

    .logo-white {
      display: none;
    }

    .logo-blue {
      display: block;
      @include respondmax(md) {
        display: none;
      }
    }

    .dropdown {
      .language__link {
        color: $blue;
      }

      @include respondmax(md) {
        display: block !important;
      }
    }

    .call {
      @include respondmax(md) {
        display: block;
        margin-right: 0;
      }

      &__info {
        color: $blue;
      }

      &__white {
        display: none;
      }

      &__green {
        display: block;
      }
    }

    .header__bottom {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &__menu-open {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: $white;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $lightGreen;


    &:hover {
      cursor: pointer;
    }

    i {
      font-size: 2.8rem;
    }

    @include respondmax(md) {
      background: $transparent;
      color: $white;
      margin-top: -20px;
      margin-left: auto;
    }
  }

  &__menu-close {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    color: $white;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkBlue;

    &:hover {
      cursor: pointer;
    }

    i {
      font-size: 2.8rem;
    }

    @include respondmax(md) {
      background-color: $transparent;
      color: #133E72;
      margin: -25px -15px 40px auto;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 35px;
    @include respondmax(md) {
      flex-direction: column-reverse;
      margin-bottom: 20px;
      //margin-bottom: 55px;
    }

    .dropdown {
      margin-right: 50px;
      @include respondmax(md) {
        display: none;
      }
    }

    .dropdown-menu {
      border: 1px solid $gray;
      border-radius: 0;
      background-clip: border-box;
      min-width: 100px;
      text-align: center;
      top: 10px !important;
      margin: 0;

      .dropdown-item {
        font-family: $PN-B, Helvetica, Arial, sans-serif;
        color: $blue;
        font-size: 1.4rem;
        padding: 5px 0;

        &:hover, &:focus {
          color: $blue;
          background-color: $white;
        }
      }
    }
  }

  &__lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respondmax(md) {
      justify-content: space-between;
      width: 100%;
      float: left;
    }
  }

  &__bottom {
    display: none;
  }

  &__bottom-list {
    @include respondmax(md) {
      text-align: right;
    }

    li {
      display: inline-block;
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }

      @include respondmax(md) {
        display: block;
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__bottom-link {
    font-family: $PN, Helvetica, Arial, sans-serif;
    color: $navColor;
    font-size: 1.6rem;

    &:hover, &:focus {
      color: $navColor;
    }

    &.active {
      font-family: $PN-B, Helvetica, Arial, sans-serif;
      color: $blue;
    }
  }
}

.language {

  &__link {
    font-family: $PN-B, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    i {
      margin-right: 10px;
    }
  }
}




