body {
  font-family: $SP, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: $lightGray;
  background-color: $whiteLight;
}

a, a:hover, a:focus {
  color: $white;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  line-height: 1.5;
}

.noscroll-y {
  overflow-y: hidden;
}

.noscroll {
  overflow: hidden;
}

.noshadow {

  @media(max-width: 767px) {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.noborder {
  border: 0 !important;

  &-bottom {
    border-bottom: 0 !important;
  }

  &-top {
    border-top: 0 !important;
  }

  &-y {
    border-bottom: 0 !important;
    border-top: 0 !important;
  }

  &-x {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  &-right {
    border-right: 0 !important;
  }

  &-left {
    border-left: 0 !important;
  }
}

main, header, section, footer {
  width: 100%;
  float: left;
}

.section__white {
  padding: 40px 55px 60px;
  overflow: hidden;
  margin-bottom: 100px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $shadow;

  @include respondmax(lg) {
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
    border-radius: 0;

    padding: 40px 15px 60px;
  }

  &--nopadding {
    padding: 0;
  }

  &--home {
    padding: 40px 35px 60px;
  }
}

/* .container {

	@include respondmin(xl) {
		max-width: 1170px;
	}
} */


.center {
  &-xy {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-horizontal {
    display: flex;
    justify-content: center;
  }

  &-vertical {
    display: flex;
    align-items: center;
  }
}


::-webkit-scrollbar {
  width: 7px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:hover {
  height: 6px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}


.color-white {
  color: $white;
}

h1 {
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 3.6rem;
  color: $gray4d;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  line-height: 1;
  @include respondmax(md) {
    font-size: 3.6rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

h2 {
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: $black;
  line-height: 1.5;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

h3 {
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  color: $darkGray;
  line-height: 1.12;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

h4 {
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  float: left;
  width: 100%;
  color: $gray4d;
  margin-bottom: 20px;
}


.bg-white {
  background-color: $white;
}

.text-small {
  font-size: 1.4rem;
}

.text-default {
  font-size: 1.6rem !important;
}

.text-medium {
  font-size: 2rem;
}

.text-large {
  font-size: 4.8rem;
  line-height: 1.2;
  @include respondmax(lg) {
    font-size: 3.2rem;
  }
}

.color-default {
  color: $lightGray;
}

.color-green {
  color: $green;
}

.color-dark-green {
  color: $lightGreen !important;
}

.color-gray {
  color: $gray4d;
}

.dark-gray {
  color: $gray6;
}

.light-gray {
  color: $darkGray;
}

.color-black {
  color: $black;
}

.font-bold {
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  line-height: 1;
}

.sp-bold {
  font-family: $SP-B, Helvetica, Arial, sans-serif;
}

.sp-italic {
  font-family: $SP-I, Helvetica, Arial, sans-serif;
}

.btn {
  min-width: 255px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  border-radius: 30px;
  background-color: $lightGreen;
  color: $white;
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  float: left;
  transition: $tr;

  &:hover, &:focus {
    box-shadow: $shadow;
  }
  &--large {
    height: 50px;
    min-width: 280px;
    border-radius: 25px;
  }

  &--small {
    min-width: 240px;
    height: 50px;
    border-radius: 25px;
  }

  &--medium {
    min-width: 135px;
    height: 40px;
    border-radius: 25px;
    font-size: 1.4rem;

    &:hover, &:focus {
      color: $white !important;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.link {
  display: inline-block;
  min-width: 180px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: $transparent;
  color: $lightGreen;
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  border: 2px solid $lightGreen;
  float: left;
  transition: $tr;

  &:hover {
    color: $white !important;
    background-color: $lightGreen;
  }

  &:focus {
    color: $lightGreen;
  }

  &--gray {
    color: $lightGray;
    border-color: $lightGray;
    margin: 0 auto 15px;

    &:hover {
      color: $white !important;
      background-color: $lightGray;
    }

    &:focus {
      color: $lightGray;
    }
  }

  &--upload {
    border-radius: 5px;
    height: 40px;
    min-width: 145px;
    padding: 5px 15px;
    cursor: pointer;
    overflow: hidden;
    background-color: $transparent !important;
  }
}

.partners {
  float: left;
  width: 100%;
  @include respondmax(md) {
    margin-bottom: 0;
  }

  &.owl-carousel {
    .owl-dots {
      @include respondmax(lg) {
        text-align: center;
        margin-bottom: 0;
        margin-top: 15px;
      }

      .owl-dot {
        span {
          display: inline-block;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          opacity: .3;
          margin-right: 10px;
          background-color: $blue;
          border: none;

        }

        &.active span, &:hover span {
          opacity: 1;
        }
      }
    }
  }
}

.call {
  margin-right: 50px;

  &__link {
    display: flex;
  }

  i {
    margin-left: 10px;
    font-size: 2.4rem;
    color: $green;
  }

  img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $PN, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: $white;
    margin-right: 10px;
  }
}

.text-xsmall {
  font-family: $PN, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: $lightGray;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.more-link {
  color: $blue;
  font-family: $PN-B, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  transition: $tr1;

  &:hover {
    color: $darkGreen;
  }

  &:focus {
    color: $blue;
  }
}

.divider {
  height: 1px;
  background-color: $gray;
  float: left;
  margin: 10px -55px 40px;
  width: calc(100% + 110px);
  padding: -55px;
}


form {
  float: left;
  width: 100%;

  .form-group {
    background-color: $whiteLight;
    border-radius: 5px;
    padding: 5px 15px;
    min-height: 60px;
    margin-bottom: 20px;

    label {
      font-family: $SP-B, Helvetica, Arial, sans-serif;
      color: $darkGray;
      font-size: 1.4rem;
      margin-bottom: 0;
      min-height: 20px;
      float: left;
      width: 100%;
    }

    .form-control {
      font-family: $SP, Helvetica, Arial, sans-serif;
      color: $gray6;
      font-size: 1.4rem;
      background-color: $whiteLight;
      border: 0;
      padding-left: 0;

      &:focus {
        border: 0;
        box-shadow: none;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-family: $SP-I, Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        color: #B3B3B3;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        font-family: $SP-I, Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        color: #B3B3B3;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        font-family: $SP-I, Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        color: #B3B3B3;
      }

      &:-moz-placeholder { /* Firefox 18- */
        font-family: $SP-I, Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        color: #B3B3B3;
      }
    }

    &.textarea {
      height: 100px;
      overflow: hidden;

      &--large {
        min-height: 150px;
      }

      textarea {
        height: 100%;
        resize: none;
      }
    }

    .input-group {
      height: 29px;
      padding: 3px 0;

      .input-group-text {
        padding: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0;
        color: $darkGray;
        background-color: $transparent;
        border: 0;
        border-radius: 0;
      }
    }

    &.disabled {
      background-color: $whiteDark;

      label {
        color: #808080;
      }

      .form-control {
        background-color: $whiteDark;
      }
    }
  }

  .file-upload {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $lightGreen !important;

      &:hover,&:focus {
        color: $lightGreen !important;
      }
    }
  }

  .custom {
    &-control {
      padding-left: 0;
      min-height: 24px;
      margin-bottom: 15px;


      &-label {
        margin-bottom: 0;
        padding-left: 35px;

        &::before, &::after {
          transition: $tr;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &::before {
          background-color: transparent;
          border: 2px solid $gray6;
          width: 20px;
          height: 20px;
        }
      }

      &-input {

        &:checked {

          & ~ .custom-control-label {

            &::before, &::after {
              border-color: $gray6;
              transition: $tr;
            }

            &::before {
              border-color: $gray6;
            }
          }
        }
      }
    }

    &-control-inline {
      margin-right: 80px;
      margin-bottom: 0;


      &:last-of-type {
        margin-right: 0;
      }

      .custom-control-label {
        font-family: $SP, Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        color: $gray6;
      }
    }

    &-radio {

      .custom-control-label {

        &::after {
          width: 10px;
          height: 10px;
          margin-left: 5px;
          border-radius: 50%;
        }
      }

      .custom-control-input {

        &:checked {

          & ~ .custom-control-label {

            &::before {
              background-color: transparent;
            }

            &::after {
              background-image: none;
              background-color: $gray6;
            }
          }
        }
      }
    }

    &-checkbox {

      .custom-control-label {
        font-size: 1.4rem;
        color: $gray6;
        float: left;
        width: 100%;

        &::after {
          color: #fff;
          font-size: 1.8rem;
          margin-top: -2px;
          width: 20px;
          height: 20px;
        }
      }

      .custom-control-input {

        &:checked {

          & ~ .custom-control-label {

            &::before {
              background-color: $gray6;
            }

            &::after {
              font-family: $MtI;
              content: '\e5ca';
              background-image: none;
            }
          }
        }
      }
    }

  }

}


.bootstrap-select {
  width: 100% !important;

  .dropdown-menu {
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
  }

  .btn.dropdown-toggle {
    font-family: $SP, Helvetica, Arial, sans-serif;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.4rem;
    line-height: 36px;
    padding-right: 0 !important;
    padding-left: 20px;
    min-width: 100px;
    color: $gray6;
    border: 0;

    .filter-option {
      top: -5px;
      left: -20px;

      .filter-option-inner {
        &:focus {
          outline: 0 !important;
          box-shadow: none !important;
          border: 0;
          background-color: transparent;
        }

        .filter-option-inner-inner {
          &:focus {
            outline: 0 !important;
            box-shadow: none !important;
            border: 0;
            background-color: transparent;
          }
        }
      }

      &:focus {
        outline: 0 !important;
        box-shadow: none !important;
        border: 0;
        background-color: transparent;
      }
    }

    &:hover, &:focus {
      outline: 0 !important;
      box-shadow: none !important;
      border: 0;
      background-color: transparent;
    }

    &::after {
      font-family: $MtI;
      content: '\e5cf';
      color: $darkGray;
      border: 0;
      font-size: 2.4rem;
      width: 24px;
      height: 25px;
      margin-top: -30px;
      margin-left: auto;
    }
  }

  select {

    &:focus {
      outline: 0 !important;
    }
  }
}

.page {
  &__content {
    margin-bottom: 50px;

    h2 {
      color: $gray4d;
    }

    h3 {
      color: $black;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    h4 {
      color: $black;
      margin-bottom: 40px;
    }

    h5 {
      font-family: $SP-B, Helvetica, Arial, sans-serif !important;
      font-size: 1.4rem;
      float: left;
      width: 100%;
      color: $gray6;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    ul {
      list-style-type: disc;
      padding-left: 50px;
      margin-bottom: 20px;
    }
  }
}


