.apply {
  margin-bottom: 40px;
  float: left;
  width: 100%;
  padding: 0 35px;
  position: relative;

  img {
      margin-bottom: 25px;
  }

  @include respondmax(md) {
    padding-bottom: 35px;
    &.apply--last {
      padding-bottom: 0;
    }
  }

  &__description {
    font-family: $SP, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    color: $gray6;
    float: left;
    width: 100%;
  }

  &:after {
    content: '\e037';
    font-family: $MtI;
    font-size: 3.6rem;
    width: 36px;
    height: 36px;
    color: $lightBlue;
    position: absolute;
    top: 54%;
    transform: translateY(-54%);
    right: -30px;
    @include respondmax(lg) {
      transform: rotate(90deg) translateX(-50%);
      top: auto;
      left: 50%;
      bottom: -35px;
    }
  }

  &.apply--last:after {
    content: '';
  }
}


