.about {
  &__nav {
    background-color: #fff;
    float: left;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow: hidden;

  }

  &__heading {
    background-color: $whiteLight;
    padding: 20px 30px;
  }

  &__items {
    align-items: center;

    .nav-item {
      min-width: 195px;
      text-align: center;
      @include respondmax(md) {
        min-width: 126px;
      }
    }

    .nav-link {
      &.active {
        //font-family: $S;
        color: $lightGreen;
        padding: 10px;
        background-color: $white;
        border-radius: 76px;
      }
    }
  }


  &__tab {
    padding: 50px 35px;
    float: left;
    width: 100%;
  }
}

.requisite {
  &__img {
    width: 70px;
    min-width: 70px;
    height: 50px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
