//.container-fluid {
//  position: relative;
//}
//
//.rect {
//  width:100%;
//  height: 223px;
//  background: red;
//  text-align: center;
//  line-height: 223px;
//}
//
//.rect:after {
//  content: '';
//  position: absolute;
//  bottom: 0px;
//  width: 100%;
//  height: 105px;
//  background: green;
//  left: 0;
//  border-top-left-radius: 50%;
//  border-top-right-radius: 50%;
//}

/*version 1*/
//#box{
//  background: gold;
//  border: none;
//  border-radius: 50%;
//  width: 100%;
//  height: 100px;
//}


/*version-2*/
//.b1 {
//  background-color: black;
//  width: 100%;
//  height: auto;
//  border-bottom-left-radius: 50%;
//  border-bottom-right-radius: 50%;
//}

//version-3

.box {
  width: 100%;
  height: 200px;
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}
